PROJECT_NAME=Luxury-Car-SaaS Backend
API_V1_STR=/api/v1
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=luxury_car_saas
POSTGRES_USER=luxury_admin
POSTGRES_PASSWORD=12345678
DATABASE_URL=postgresql+psycopg://luxury_admin:12345678@localhost:5432/luxury_car_saas
SECRET_KEY=change-this-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
BACKEND_CORS_ORIGINS=http://localhost:3000
ADMIN_EMAIL=admin@luxury.owner
