argon2-cffi==25.1.0
alembic==1.16.4
fastapi==0.116.1
Pillow==11.3.0
PyJWT==2.10.1
pydantic-settings==2.10.1
psycopg[binary]==3.2.10
python-dotenv==1.1.1
python-multipart==0.0.20
sqlalchemy==2.0.43
supabase==2.30.0
uvicorn[standard]==0.35.0
